/**
  This module was really designed around the dimensions of 'Helvetica Neue' and
  might not work well for other faces. Specifically, the default weight is
  probably too light for other fonts.
*/

/* Typeface */

body { font-family: 'Helvetica Neue', Helvetica, sans-serif; }

/* Typographical Measures, for sizing elements based on line-length readability */

.measure- { max-width: 60rem; }
.measure  { max-width: 48rem; }
.measure_ { max-width: 32rem; }


/**
  Responsive Type Sizes

  Based roughly on this:
  http://typecast.com/blog/a-more-modern-scale-for-web-typography
*/

/* I don't understand how to scale line heights so all line-heights are set
   proportionally to the text size. */
body { line-height: 1.45; }

@media {                                 /* iphone */
  .fs_, small  { font-size: 0.800rem; }
  .fs, body, p, h5, h6, dl, ol, ul
               { font-size: 1.000rem; }
  .fs-, h4     { font-size: 1.125rem; }
  .fs--, h3    { font-size: 1.375rem; }
  .fs---, h2   { font-size: 1.625rem; }
  .fs----, h1  { font-size: 2.000rem; }
}

@media screen and (min-width: 481px)  {  /* tablets */
  .fs-         { font-size: 1.250rem; }
  .fs--        { font-size: 1.500rem; }
  .fs---       { font-size: 2.000rem; }
  .fs----      { font-size: 2.500rem; }
}

@media screen and (min-width: 1025px) {  /* laptops */
  .fs-         { font-size: 1.250rem; }
  .fs--        { font-size: 1.750rem; }
  .fs---       { font-size: 2.250rem; }
  .fs----      { font-size: 3.000rem; }
}

@media screen and (min-width: 1337px) {  /* big laptops and desktops */
  .fs_, small  { font-size: 0.850rem; }

  .fs-         { font-size: 1.500rem; }
  .fs--        { font-size: 2.250rem; }
  .fs---       { font-size: 3.500rem; }
  .fs----      { font-size: 4.250rem; }
}

/* Weights */

body { font-weight: 200; }
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
::-webkit-input-placeholder { font-weight: 100; }

.fw_   { font-weight: 100 !important; }
.fw    { font-weight: 200 !important; } /* default, thinner than "regular" */
.fw-   { font-weight: 400 !important; }
.fw--  { font-weight: 500 !important; }
.fw--- { font-weight: 600 !important; }

/* "Styles" (italic, caps, bold) */

.bold, strong { font-weight: 500; }
.italic, em { font-style: italic; }
.caps { text-transform: uppercase; letter-spacing: .1rem; }
.regular { font-weight: 200; font-style: normal; }


/* Alignments */

.center-align { text-align: center; }
.right-align  { text-align: right; }
.left-align   { text-align: left; }
